.wrapper
    background-color: #ffffff
    .title
        font-size: 18px
        text-align: center
    .info
        font-size: 14px
        color: #cccccc
        text-align: center
    .content
        font-size: 16px
        line-height: 1.3

